.cardContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: rgb(116, 116, 11);
  width: 150px;
  border-radius: 8px;
  gap: 8px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.attributesContainer {
  display: flex;
  justify-content: space-between;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carouselContainer {
  display: flex;
  gap: 16px;
}